@import "tailwindcss";
@import "tw-animate-css";
@import "@minus-ui/core/plugin";

@theme {
  --color-main: #4385f5;
  --color-background: #fefdfa;
  --color-foreground: #1a1a1a;
  --color-sub-bg: #ebebeb;
  --animate-shimmer: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@layer base {
  :root {
    --color-main: #2b7fff;
    --color-background: #fefdfa;
    --color-foreground: #1a1a1a;
    --color-sub-bg: #b9d5ff;
  }
}
@layer utilities {
  .ellipsis-1-line {
    @apply overflow-hidden text-ellipsis break-words;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .ellipsis-2-line {
    @apply w-full overflow-hidden text-ellipsis break-words;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

* {
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar {
  margin-right: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(116, 126, 135, 1);
}
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(157, 165, 171, 1);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background-color: rgba(161, 161, 161, 1);
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 0px;
}
.custom-view-scrollbar::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 4px;
}
